@import 'variables';

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html{
  height: 100vh;
  max-width: 100vw;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background: $primary-background;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: $black-olive;
  color: $white;
}

nav{
  @include mainFlex();
  margin-right: 2vw;
}

// Text Elements
h1{
  font-family: 'Pattaya', sans-serif;
  font-size: 5vw;
}

h2{
  font-size: 4vw;
}

h3 {
  text-transform: capitalize;;
}

h4{
  font-size: 3vw;
  text-align: center;;
  margin: 1rem;
}


// MAIN BODY
.main-greeting{
    @include mainFlex();
}

.main-greet-p{
  font-size: 2vw;
  margin: 1rem;
}

// .book-button{
//   font-size: 2vw;
// }

main {
  // position: relative;
  // min-height: 100vh;
  // overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1.5fr;
  padding: 1rem;
  grid-gap: 5rem;
}

.calendar{
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  margin: 1rem;
  font-size: 3vw;
}
label {
  margin: 0.7rem;
}

button {
  @include buttons();
}
button:hover,
button:active {
  background-color: $gray-web;
  color: white;
}

// footer{
//   @include mainFlex();
//   background-color: $black-olive;
//   color: $snow;
  // position: absolute;;
  // bottom: 0;
  // width: 100vw;
  // padding: 0.5rem;
  // align-self: baseline;
// }

@media screen and (min-width: $small-tablet) {
  .booking-cards,
  .avail-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 3rem;
    grid-gap: 2rem;
  }
}

@media screen and (min-width: $large-tablet) {
  .booking-cards,
  .avail-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 3rem;
    grid-gap: 2rem;
  }

  .calendar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    font-size: 2.3vw;
  }
  .login-text{
    font-size: 2vw;
  }

  .sign-in-input{
    width: 20vw;
    height: 5vh;
  }

  button{
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
  }
}

@media screen and (min-width: $desktop) {
  .booking-cards,
  .avail-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 3rem;
    grid-gap: 2rem;
  }

  .calendar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    font-size: 2.3vw;
  }

  .login-text{
    font-size: 2vw;
  }

  .sign-in-input{
    width: 20vw;
    height: 5vh;
  }

  button{
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
  }
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.hide {
  display: none;
}
