@import 'variables';
@import 'base';


.log-in-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;

}

.login-text{
  text-align: center;
  margin-top: 1rem;
}

.sign-in-input{
  width: 30vw;
  height: 6vw;
  margin: 0.7rem;
  font-size: 2vw;
}

.log-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-button{
  align-self: center;
}

@media screen and (min-width: $large-tablet) {
  .login-text{
    font-size: 2vw;
  }

  .sign-in-input{
    width: 20vw;
    height: 5vh;
  }
}

@media screen and (min-width: $desktop){
  .login-text{
    font-size: 2vw;
  }

  .sign-in-input{
    width: 20vw;
    height: 3vh;
  }
}
