@import 'variables';


.room-select{
  @include mainFlex();
  position: fixed;
  left: 20vw;
  top: 25vh;
  background-color: $white;
  max-width: 70vw;
  height: 80vw;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #FBD089;
}

.img-select {
  width: 40vw;
  height: auto;
}

.close-selection {
  align-self: flex-end;
  margin: 0.5rem;
  width: 5vw;
}

.book-room-btn{
  width: 15vw;
  font-size: 2vw;
  margin-top: 2vh;
}

.search-options,
.arrival-date {
  width: 30vw;
  height: 3vh;
}

.show-avail-button{
  margin-top: 1rem;
}

@media screen and (min-width: $large-tablet) {
  .room-select{
    top: 15vh;
    width: 50vw;
    height: 45vw;
  }
}
