/* This is an example of using Sass, otherwise plain CSS works too*/

$satin-sheen-gold: #c89933ff;
$black-olive: #30332eff;
$gray-web: #7c898bff;
$snow: #fbf5f3ff;
$white: #ffffffff;

$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: $primary-background;
}
